os: linux
sudo: false
language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt

branches:
  only:
    - master
    - develop

script:
  - python -m unittest discover

notifications:
  email: true